@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", serif;
}
/* navbar styles */
.navbar {
  width: 1200px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 22px;
  font-weight: 600;
}
.btn-primary {
  font-weight: 500;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 2px;
  opacity: 0.8;
}
/* banner styles */
.banner {
  height: 550px;
  background-image: url("../assets/Hero-bg.png");
  background-size: cover;
}
.banner-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.banner-title {
  font-size: 40px;
  font-weight: 800;
}
.banner-subtitle {
  font-size: 14px;
  color: rgb(13, 19, 33);
}
.banner-btn {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: rgb(13, 19, 33);
  border: none;
}
main {
  width: 1200px;
  margin: 100px auto;
}
/* web development styles */
.primary-title {
  text-align: center;
  font-size: 28px;
}
.primary-subtitle {
  width: 900px;
  text-align: center;
  font-size: 14px;
  margin: 30px auto;
  color: rgb(13, 19, 33);
}
.development-category {
  margin: 100px auto 150px auto;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.development-content {
  width: 350px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.content-title {
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
}
.content-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: rgb(13, 19, 33);
}
.link button:hover,
.skill-link:hover {
  cursor: pointer;
}
.link {
  text-decoration: none;
}
/* inspiration section */
.inspiration-video {
  width: 1000px;
  margin: 100px auto;
}
/* my-current-target style */
.current-target {
  margin: 150px auto;
}
.skill-content {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.skill-subtitle {
  font-size: 14px;
  color: rgb(13, 19, 33);
}
.skill-link {
  font-size: 14px;
  font-weight: bold;
  color: rgb(13, 19, 33);
}
.skills {
  width: 1000px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* my-next-target style */
.extra-skills {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}
.extra-skill-content {
  width: 1000px;
  height: 300px;
  display: flex;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 20px;
}
.extra-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
/* support section styles */
.support {
  margin-bottom: 100px;
  color: white;
  background-image: url("../assets/handshake.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  border: none;
}
.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.input-text {
  width: 400px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2px;
  opacity: 0.8;
}
.submit-btn {
  font-weight: 600;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2px;
  opacity: 0.8;
}
/* footer style */
footer {
  background: rgb(250, 248, 248);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content {
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
